/* NavBar */
.page-container{
  padding: 50px;
  margin: auto;
}

#nav-bar{
  background-color: #0779BC;
}

/* Resorts */
.header {
  text-align: center;
}

/* Resort */
#resort-card, #land-card {
  width: 18rem;
}
#resort-card-image {
  height: 150px;
  width: 100%
}

/* Lands */
.center {
  text-align: center;
  padding-top: 25px;
  padding-right: 50px;
  padding-left: 50px;
}

/* Park */
#park-card-image{
  height: 125px;
  width: 100%
}

#card-container{
  padding: 40px;
}

/* Attraction */
#add-attraction-form{
  padding-top: 25px;
  padding-right: 250px;
  padding-left: 250px;
}
.center-btn, #center-btn{
  text-align: center;
  padding: 40px;
}

/* Footer */
#footer{
  padding: 30px;
  background-color: #0779BC;
  color: white;
  text-align: center;
}

/* 404 */
.center-pixie {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30%;
  width: 30%;
}
