/* NavBar */
#points{
  text-align: right;
}

.page-container{
  padding: 50px;
  margin: auto;
}

/* Resorts */

.header{
  text-align: center;
}

/* Resort */
#resort-card {
  width: 18rem;
}
#resort-card-image {
  height: 150px;
  width: 100%
}

/* Park */
#park-card-image{
  height: 125px;
  width: 100%
}

#card-container{
  padding: 40px;
}


/* Footer */
#footer{
  text-align: center;
}
