/* NavBar */
#points{
  text-align: right;
}

/* Resorts */
#resorts{
  padding: 50px;
  margin: auto;
}

#resorts-header{
  text-align: center;
}

/* Resort */
#resort-card {
  width: 18rem;
}
#resort-card-image {
  height: 150px;
  width: 100%
}


#card-container{
  padding: 40px;
}


/* Footer */
#footer{
  text-align: center;
}
